<ion-view title="Cadastro Animal" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="cadastroAnimal-form1" class="list">
      <label class="item item-input" id="cadastroAnimal-input1">
        <span class="input-label">Numero</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastroAnimal-input2">
        <span class="input-label">Tipo</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastroAnimal-input3">
        <span class="input-label">Idade</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="cadastroAnimal-input5">
        <span class="input-label">Peso</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <button id="cadastroAnimal-button12" class="button button-positive  button-block">Cadastrar</button>
  </ion-content>
</ion-view>