<ion-view title="Cadastros" id="page13">
    <ion-content padding="true" class="has-header">
    <button id="menu-button20" style="border-radius:14px 14px 14px 14px;" class="button button-energized button-large button-block button" ng-click="fazendaselecionada()">Fazenda</button>
    <button id="menu-button21" style="border-radius:14px 14px 14px 14px;" class="button button-positive button-large button-block" ng-click="animaisSelecionado()">Animais</button>

<!--    <button id="menu-button23" style="border-radius:14px 14px 14px 14px;" class="button button-royal button-large button-block">Tap me!</button>
    <button id="menu-button24" style="border-radius:16px 16px 16px 16px;" class="button button-assertive button-large button-block">Fazenda</button> -->
  </ion-content>
</ion-view>
