<ion-view title="Cadastro Fazendas" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="fazenda-form2" class="list">
      <ion-item class="item-avatar" id="fazenda-list-item1">
        <h2>Item</h2>
      </ion-item>
      <label class="item item-input" id="fazenda-input8">
        <span class="input-label">Nome Fazenda</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="fazenda-input10">
        <span class="input-label">Endereço</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="fazenda-input13">
        <span class="input-label">Complemento</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="fazenda-input11">
        <span class="input-label">Cidade</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="fazenda-input12">
        <span class="input-label">Estado </span>
        <input type="text" placeholder="">
      </label>
      <button id="menu-button20" style="border-radius:14px 14px 14px 14px;" class="button button-energized button-large button-block button" ng-click="fazendas()">Cadastrar</button>
    </form>
  </ion-content>
</ion-view>
