<ion-view title="Fazendas" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="fazenda-form2" class="list">
          <label class="item item-input">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" placeholder="Pesquisar" ng-model="filtro">
          </label>
          <ion-list ng-repeat="fazenda in fazendas | filter:filtro">
              <ion-item class="item-avatar">
                  <img src="{{fazenda.img}}">
                  <h2>N°{{fazenda.numero}}</h2>
                  <h2>Nome: {{fazenda.nome}}</h2>
                  <button class="button button-positive" style="border-radius:14px 14px 14px 14px; font-size: 16px;float:right" ng-click="fazendaselecionada()">Selecionar</button>
              </ion-item>
          </ion-list>
</ion-content>
