<ion-view title="Login" hide-nav-bar="true" id="page8">
  <ion-content padding="true" style="background: url(img/gadocio.png) no-repeat center top;background-size:70%" class="manual-ios-statusbar-padding" scroll="false">
    <form id="login-form7" class="list">
      <div class="spacer" style="width: 300px; height: 370px;"></div>
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input14">
          <input type="text" ng-model="usuario" placeholder="Usuário">
        </label>
        <label class="item item-input" id="login-input23">
          <input type="password" ng-model="senha" placeholder="Senha">
        </label>
      </ion-list>
      <button id="login-button7" class="button button-positive  button-block" ng-click="login(usuario, senha)">Log in</button>
    </form>
  </ion-content>
</ion-view>
