<ion-view title="Menu" id="page10">
  <ion-content padding="true" class="has-header">
    <button id="menu-button20" style="border-radius:14px 14px 14px 14px;" class="button button-energized button-large button-block button" ng-click= "fazendaselecionada()">Fazendas</button>
    <button id="menu-button21" style="border-radius:14px 14px 14px 14px;" class="button button-positive button-large button-block" ng-click="animaisSelecionado()">Animais</button>
    <button id="menu-button22" style="border-radius:14px 14px 14px 14px;" class="button button-balanced button-large button-block" ng-click= "cadastrogeral()">Cadastros</button>
<!--    <button id="menu-button23" style="border-radius:14px 14px 14px 14px;" class="button button-royal button-large button-block" ng-click= "minhaConta()">Minha Conta</button> -->
 </ion-content>
</ion-view>
