<ion-view title="Minha Conta" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="minhaConta-form2" class="list">
      <ion-item class="item-avatar" id="minhaConta-list-item1">
        <h2>Item</h2>
      </ion-item>
      <label class="item item-input" id="minhaConta-input8">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="minhaConta-input9">
        <span class="input-label">Sobrenome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="minhaConta-input10">
        <span class="input-label">Endereço</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="minhaConta-input13">
        <span class="input-label">Complemento</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="minhaConta-input11">
        <span class="input-label">Cidade</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="minhaConta-input12">
        <span class="input-label">Estado </span>
        <input type="text" placeholder="">
      </label>
      <button id="menu-button20" style="border-radius:14px 14px 14px 14px;" class="button button-energized button-large button-block button" ng-click="fazendaselecionada()">Cadastrar</button>
    </form>
    </form>
  </ion-content>
</ion-view>
